.scheduler-wrapper {
    margin: 6pt;
    width: 60%;
    border-style: groove;
}

.scheduler-mobile {
    margin: 6pt;
    width: 100%;
    border-style: groove;
}

.dayscale-row {
    display: flex;
    flex-direction: row;
}

.dayscale-label {
    width: 14.27%;
}