.scheduler-wrapper {
    margin: 6pt;
    width: 60%;
}

.scheduler-mobile {
    margin: 6pt;
    width: 100%;
}

.dayscale-row {
    display: flex;
    flex-direction: row;
}

.dayscale-label {
    width: 14.27%;
}
.program-row {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;

}
.program-typo-wrapper {
    margin-top: auto;
    margin-bottom: auto;
}
.program-textfield-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6pt;
    margin-right: 6pt;
}

.program-textfield {
    width: 50pt;
    text-align: center;
    margin-left: 6pt;
    margin-right: 6pt;
}

.custom-appointment {
    margin-left: 3pt;
}
.program-appointment {
    height: 100%;
    text-align: center;
}
.program-text-container {
    width: 100%;
    margin: auto;
}
.dont-fill-button {
    margin-left: -10pt;
}
.program-title-dont-fill {
    margin-top: auto;
    margin-bottom: auto;
}
.program-vertical {

}
.scheduler-border {
    border-style: groove;
}